:root {
  --primaryDark: #101011;
  --primaryBright: #dddbcb;
  --accent: #5dfdcb;
  --secondary: #fca311;
  --lightText: #f4f3ed;
  --darkText: #373737;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, var(--font-roboto-mono, "Roboto Mono"),
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-roboto-mono, "Roboto Mono"), source-code-pro, Menlo,
    Monaco, Consolas, "Courier New", monospace;
}

.primaryDark {
  background: var(--primaryDark);
}
.primaryBright {
  background: var(--primaryBright);
}
.accent {
  background: var(--accent);
}
.secondary {
  background: var(--secondary);
}
.lightText {
  color: var(--lightText);
}
.darkText {
  color: var(--darkText);
}
.brightLink {
  color: var(--secondary);
  text-decoration: underline;
  font-weight: 800;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  font-family: -apple-system, var(--font-roboto-mono, "Roboto Mono"),
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.darkLink {
  color: var(--darkText);
  text-decoration: underline;
  font-weight: 800;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  font-family: -apple-system, var(--font-roboto-mono, "Roboto Mono"),
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.bold {
  font-weight: 800;
}
.serif {
  font-family: var(--font-lora, "Lora"), serif;
}

.safe {
  width: 95%;
  height: 100%;
  max-width: 1440px;
  padding: 10px;
}

.App {
  text-align: center;
  background-color: var(--primaryDark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .App {
    overflow: hidden;
  }
}
