.homeContainer {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  flex-grow: 1;
}

.columns {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navigationContainer {
  grid-row: 3;
  align-self: end;
  justify-self: end;
  padding: 0 0 20px;
}

.mainTitleSection {
  box-sizing: border-box;
  text-align: left;
  max-width: 550px;
}


.mainTitleSection h2 {
  font-size: 34px;
  font-weight: 100;
  padding: 20px;
  margin: 0px 20px;
}

.mainTitleSection h1 {
  font-size: 144px;
  line-height: 130px;
  font-weight: 400;
  font-family: var(--font-lora, "Lora"), serif;
  margin: 0;
  padding: 0 40px 40px;
}

.mainTitleSection h1 span {
  display: block;
}

h1.bordered {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}


.abstractContainer {
  box-sizing: border-box;
  width: 45%;
  max-width: 600px;
  text-align: left;
  position: relative;
  font-size: 18px;
  height: 302px;
  font-weight: 400;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.abstractContainer .darkLink {
  float: right;
}

.abstractContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
}

.abstractTitle {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
  color: #828282;
  font-family: var(--font-lora, "Lora"), serif;
  width: 70%;
}

.abstractSubtitle {
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  line-height: 1.5;
}

.closingMessage {
  position: absolute;
  bottom: -80px;
  font-weight: 100;
  width: 350px;
  text-align: right;
  right: 0;
  margin-right: 20px;
}

.sectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {

  .homeContainer {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
  }

  .columns {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
  }

  .navigationContainer {
    grid-row: 3;
    align-self: end;
    justify-self: center;
    padding: 0 0 20px;
    text-align: right;
  }

  .navigationContainer .navigationList {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navigationContainer .navigationList li {
    margin: 10px;
  }

  .abstractContainer {
    width: 100%;
    font-size: 16px;
    margin-left: 0px;
    margin-bottom: 40px;
    margin-top: 10px;
    height: auto;
  }

  .mainTitleSection {
    width: 100%;
    max-width: 100%;
  }

  .mainTitleSection h1 {
    font-size: 80px;
    line-height: 71px;
    padding: 12px 5px 32px;
  }

  .mainTitleSection h2 {
    font-size: 18px;
    padding: 10px;
    margin: 0px;
  }

  .closingMessage {
    width: 310px;
    margin-right: 8px;
    bottom: -70px;
  }

  .abstractContent {
    margin-top: 40px;
    gap: 10px;
  }

  .abstractTitle {
    font-size: 25px;
    width: 100%;
  }

  .abstractSubtitle {
    font-size: 16px;
  }
}

@media (max-height: 700px) {
  .homeContainer {
    grid-template-rows: 0 auto 1fr;
  }

}